html, body, .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-area {
    margin: 0;
    padding: 0;
    border: 2px solid black;
}